@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf0e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002659;
  }
}

body {
  background: var(--background);
  font-family: var(--font-shadows), cursive;
}
