@import "tailwindcss";

:root {
  --background: #faf0e6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-shadows);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002659;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-shadows), cursive;
}
